{% extends "layouts/back-end/base.njk" %}
{% set active_menu_item = "messages" %}

{% import "components/back-end/pagination.njk" as pagination with context %}
{% import "components/back-end/list-actions.njk" as list_actions %}

{% block title %}Messages
{% endblock %}

