{% extends "layouts/front-end/base.njk" %}

{% set bubble_color = "bleu" %}


{% block title %}Lieux de vie
{% endblock %}

{% block main %}

<h1 class="text-3xl font-bold lg:col-span-2 mt-6 lg:mt-0">Lieux de Vie</h1>

{% endblock %}