{% extends "layouts/front-end/base.njk" %}

{% set bubble_color = "bleu" %}


{% block title %}Lieux de vie
{% endblock %}

{% block main %}

<h1 class="text-3xl font-bold lg:col-span-2 mt-6 lg:mt-0">Lieux de Vie</h1>
<p class="my-4">
        Entre les cours, l'université et ses IUT proposent de nombreux lieux de convivialité ou d'idéation. Divers et variés, ils permettent aux étudiants, de toute formation, de découvrir de nouveux horizons et surtout de rencontrer les étudiants d'autres BUT.
    </p>

{% endblock %}